@import "../../../variables.module";



.title_wrap {
  width: 100%;
  margin-bottom: 20px;

  input {
    width: 100%;
    padding: 15px;
    background-color: $bg_grey;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: $white;
  }

  .title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
  }
}

.question_section {
  display: flex;
  gap: 15px;
  max-width: 900px;
  margin: 0 auto;

  .question_wrap {
    width: 100%;
    padding: 20px;
    background-color: #f8f5fb;


    .question {
      width: 100%;
      padding: 10px;
      background-color: $white;
      border-radius: 5px;
      border: 1px solid #AA73C5;
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  .options_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .option{
      width: 49%;
    }
  }
}
