@import "../../variables.module";

.main{
  padding-top: 100px;
}
.flex_wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.image_wrap {
  user-select: none;
  margin: 0 auto 40px ;
  width: fit-content;

  .image {
    animation: customAni 5s ease 0s infinite normal none;
    max-width: 300px;
    height: auto;
  }
}
.flex_wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 650px;
  margin: 0 auto;
}
.btn{
  display: block;
  width: 250px;
  padding: 25px 10px;
  background-color: $purple_light;
  border-radius: 5px;
  font-size: 23px ;
  font-weight: 600;
  opacity: 0.9;
  &:hover{
    cursor: pointer;
    opacity: 1 ;
  }
}
.btn_play{
  background-color: $purple_primary;
  color: $white;
}

@keyframes customAni {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

//.image{
//  animation: rotate-scale-up 10s linear infinite both;
//}
//@keyframes rotate-scale-up {
//  0% {
//    transform: scale(1) rotateZ(0);
//  }
//  50% {
//    transform: scale(1.2) rotateZ(180deg);
//  }
//  100% {
//    transform: scale(1) rotateZ(360deg);
//  }
//}