@import "../../../variables.module";

.option {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  background-color: $white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

  .text_input {
    width: 100%;
    padding: 10px;
    border: none;
  }
  input[type="file"] {
    display: none;
  }
  img{
    width: 30px;
    height: auto;
  }
}


.img_upload {

  display: block;
  cursor: pointer;

}