@import "../../variables.module";

.flex_wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.form {
  max-width: 500px;
  border: $light-grey solid 1px;
  border-radius: 10px;
  padding: 25px;
  margin: 150px auto 0;
  user-select: none;

  .input_wrap {
    width: 100%;
  }

  .title {
    margin-bottom: 15px;
    font-size: 18px;
    color: $dark_text;
  }

  .label {
    text-align: left;
    margin-bottom: 5px;
    color: $dark_text;
    font-weight: 600;
    font-size: 14px;
  }

  .input, .submit_btn {
    width: 100%;

    display: block;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid $light-grey;
    font-size: 16px;
  }

  .submit_btn {
    font-size: 16px;
    background-color: $primary_green;
    color: $white;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      background-color: $hover_button;
    }


  }

  .text {
    font-size: 14px;
    text-align: center;

    a {
      color: $link;
    }
  }
}